@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comment</h2>

@using (@Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Шапка для комментариев</legend>
            
        </fieldset>
    </div>
    
}
